**NIM : xxx**<br>
**Nama: xxx** <br>
**Kls :**<br>

Stuktur pengulangan dapat dituliskan dengan dua jenis yaitu:


1.   FOR
2.   WHILE


Pada struktur pengulangan perlu diperhatikan variabel kendali untuk menentukan awal pengulangan dan mengakhiri pengulangan. <br>
Variable kendali sering disebut sebagai **counter**, digunakan untuk mengendalikan pengulangan hingga kondisi tertentu (condition)

#FOR

FOR, digunakan untuk pengulangan yang sudah diketahui secara pasti jumlah pengulangannya dan perubahana variabel counter. Misalnya: diulang sebanyak 10 x (variable counter akan bertambah 1 setiap pengulangan terjadi).

Algoritma pengulangan:

**Ascending** For (akhir > awal)

```
For i <-- awal to akhir do
   statement 1
   statement 2
   ....
EndFor
```

**Descending** For (akhir < awal)

```
For i <-- awal downto akhir do
   statement 1
   statement 2
   ....
EndFor
```

variable awal dan akhir adalah counter, oleh karena itu harus bernilai integer.

For with STEP

Ketika variable counter tidak bertambah 1, tetapi dengan rentang tertentu, misalnya 2, 3, dst

```
For i <-- awal to akhir step n do
   statement 1
   statement 2
   ....
EndFor
```

In [ ]:
#tanpa disebutkan nilai awal, for pada python selalu dimulai dari 0
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(10):
  if x%3==0:
    print(x,'kelipatan 3')
  else:
    print(x)

0 kelipatan 3
1
2
3 kelipatan 3
4
5
6 kelipatan 3
7
8
9 kelipatan 3

In [ ]:
#for dengan nilai awal 1 dan nilai akhir 4
for x in range(1,5):
  print(x)

1
2
3
4

In [ ]:
#for dengan step
for x in range(0,6,2):
  print(x)

0
2
4

In [ ]:
#for dengan counter menurun
print('Countdown')
for i in range(10,0,-2):
  print(i)

Countdown
10
8
6
4
2

In [ ]:
for i in range(1,6):
  print('Apa Kabar')

Apa Kabar
Apa Kabar
Apa Kabar
Apa Kabar
Apa Kabar

In [ ]:
#cetak_bintang1
for i in range(5):
  print('***')

***
***
***
***
***

In [ ]:
#cetak_bintang2
for i in range(5):
  for j in range(i):
    print('*',end='')
  print()

*
**
***
****

In [ ]:
#cetak_bintang2
for i in range(5):
  for j in range(3):
    print('*',end='')
  print()

***
***
***
***
***

In [ ]:
for i in range(10):
  print('*',end='')

**********

Buatlah program untuk mencetak tampilan yang memberi garis atas dan bawah dari text yang diisikan.<br>
Contoh:


```
title : Kelas A Bisnis Kreatif  UI

------------------------------
| Kelas A Bisnis Kreatif  UI |
------------------------------
```

Algoritma:<br>
1. input title
2. hitung panjang title (pjg)
3. print '-' sebanyak pjg
4. print title
5. print '-' sebanyak pjg

In [ ]:
kata = 'Aminah pergi ke pasar'
pjg = len(kata)
print(pjg)
print('|',kata,'|')

21
| Aminah pergi ke pasar |

In [ ]:
title = input('isikan judul: \n')
pjg = len(title)
print()
print()
for i in range(0,pjg+4):
  print('',end='-')
print()
print('|',title,'|')
for i in range(0,pjg+4):
  print('',end='-')
print()

isikan judul:
Fakultas Kedokteran Gigi


----------------------------
| Fakultas Kedokteran Gigi |
----------------------------

In [ ]:
arr1 = ['Dewa','Dewi','Deni','Dina','Dudi','Dilan']
print(arr1)

['Dewa', 'Dewi', 'Deni', 'Dina', 'Dudi', 'Dilan']

In [ ]:
for isi in arr1:
  print(isi)

Dewa
Dewi
Deni
Dina
Dudi
Dilan

In [ ]:
#ingin tau apakah di arr1 ada yg bernama 'Dina'
#status ditampilkan 1x, melaporkan data ada/tdk ada
status= 'Tidak ada'
for isi in arr1:
  if isi == 'Deni':
    status = 'Ada'

print(status)

Ada

In [ ]:
#FOR counter from Array

#array bilangan

bil = [3.5,4.5,6.5,7.5,10.5]
for i in bil:
  print(i)


#array string
siswa = ['Jodi','Ahmad','Wiwin','Joko','Kenny']
for nama in siswa:
  print(nama)

3.5
4.5
6.5
7.5
10.5
Jodi
Ahmad
Wiwin
Joko
Kenny

In [ ]:
#entry data ke array

#1. buat array kosong
mhs = []
nilai=[]
#2. isikan data ke array kosong

n = int(input('Jml data yang akan diisikan:'))

for i in range(0,n):
  nama = input('Nama: ')
  nilai_akhir = int(input('Nilai:'))
  mhs.append(nama)
  nilai.append(nilai_akhir)




print()
print('Daftar Nama mahasiswa')

i=1
for nama in mhs:
  print(i,'.',nama,nilai[i-1])
  i = i + 1

Jml data yang akan diisikan:3
Nama: Ratna
Nilai:56
Nama: Diana
Nilai:70
Nama: Deni
Nilai:85

Daftar Nama mahasiswa
1 . Ratna 56
2 . Diana 70
3 . Deni 85

In [ ]:
print(mhs[1],mhs[2])

Diana Dewi

In [ ]:
print(mhs)

['Eka', 'Diana', 'Dewi', 'Dudung']

Menjumlahkan n bilangan

In [ ]:
jml = 0
n = int(input('banyaknya bilangan:'))
for i in range(1,n+1):
  print('bilangan ke', i)
  bil = int(input(' adalah :'))
  jml = jml + bil

print('Total jumlah',n,'bilangan adalah:', jml)
rata = jml/n
print('Rata-rata dari',n,'bilangan adalah:', rata)
#hitunglah rata2 bil yg diisikan, tampilkan hasilnya

#Rata-rata n bilangan adalah =...

banyaknya bilangan:4
bilangan ke 1
 adalah :56
bilangan ke 2
 adalah :75
bilangan ke 3
 adalah :77
bilangan ke 4
 adalah :82
Total jumlah 4 bilangan adalah: 290
Rata-rata dari 4 bilangan adalah: 72.5

Latihan:<br>
Buatlah program yang akan menerima sebanyak n data nama mhsw dan nilainya, serta menampilkan daftar mahasiswa, nilainya serta rata-rata di akhir baris data <br>

Perkiraan output:

```
Daftar Nama mahasiswa
1 . Hana 56
2 . Hani 85
3 . Heni 77

Rata-rata nilai = ....
```

In [ ]:
jml=0
for i in range(2, 22, 2):
  print(i)
  jml = jml + i
print('total = ', jml)

2
4
6
8
10
12
14
16
18
20
total =  110

Multiple array,
Untuk menghitung biaya kos2an
masukan : array tipe kamar, tarif
luarannya: perubahan tarif

In [ ]:
#array tipe_kamar
tipe_kamar = []
tipe_kamar = ['1A', '1B', '2A', '2B']
tarif_kamar= []
tarif_kamar= [800000, 1000000, 700000, 950000]
#perubahan tarif:
#1a = 10%, 1b = 15%, 2A = 20%, 2b = 25%

for x in tipe_kamar:
  match x:
    case '1A':
      tarif_kamar = 800000 * 1.1
      print ('tarif kamar tipe 1A yg baru: ', round(tarif_kamar))
    case '1B':
      tarif_kamar = 1000000 * 1.15
      print ('tarif kamar tipe 1B yg baru: ', round(tarif_kamar))
    case'2A':
      tarif_kamar = 700000 * 1.2
      print ('tarif kamar tipe 2A yg baru: ', round(tarif_kamar))
    case '2B':
      tarif_kamar = 950000 * 1.25
      print ('tarif kamar tipe 2B yg baru: ', round(tarif_kamar))

tarif kamar tipe 1A yg baru:  880000
tarif kamar tipe 1B yg baru:  1150000
tarif kamar tipe 2A yg baru:  840000
tarif kamar tipe 2B yg baru:  1187500

#WHILE

While digunakan untuk mengendalikan alur program dengan menyertakan variable kendali di dalam loop. Variable kendali harus berubah sehingga dapat memenuhi kondisi pada klausa WHILE.

## WHILE(kondisi)



```
variable_kondisi=nilai_awal
while(kondisi) do
  statement 1
  statement 2
  variabel_kondisi=nilaiperubah
EndWhile
```

In [ ]:
#mencetak karakter '***' sebanyak 5 kali
#menggunakan for

chr = '***'
for i in range(0,5):
  print(chr)

***
***
***
***
***

In [ ]:
chr = '***'
i = 1
while i<=5:
  print(round(i,1),chr)
  i = i + 0.3

1 ***
1.3 ***
1.6 ***
1.9 ***
2.2 ***
2.5 ***
2.8 ***
3.1 ***
3.4 ***
3.7 ***
4.0 ***
4.3 ***
4.6 ***
4.9 ***

In [ ]:
#mencetak karakter '***' sebanyak 5 kali
#menggunakan while

#harus ada nilai awal variabel kendali

i = 0
j = 1
while i < 5:
  if j<10:
    no = '0'+ str(j)
  else:
    no = str(j)
  print(no,'.',chr)
  i = i + 0.5
  j = j + 1

01 . ***
02 . ***
03 . ***
04 . ***
05 . ***
06 . ***
07 . ***
08 . ***
09 . ***
10 . ***

In [ ]:
#Contoh V 10. Menampilkan angka 1 sampai 5
#i adalah variabel kondisi
i = 1  #nilai awal i = 1
while i <= 5:
  print(i)
  #print('pengulangan ke',i)
  i += 1   #perubahan nilai variabel kondisi

1
2
3
4
5

In [ ]:
a = 6
b = 5
c = 8
a = a + 1   #identik dgn  a += 1
b = b - 1   #identik dgn  b -= 1
c = c - 3   #identik dgn  c -=3
c = c * 3   #identik dgn  c *=3

In [ ]:
#ekspresi incremental otomatis pada pyhton
a = 5
a +=2
print(a)
a +=1
print(a)
a -=3
print(a)
a *= 2
print(a)

7
8
5
10

In [ ]:
a +=1

In [ ]:
#Menjumlahkan Lima Bilangan Integer

i = 1
jml = 0
while i < 6:
  bil = int(input('bil:'))
  jml = jml + bil
  i += 1
print('Jumlah bilangan :', jml)

bil:6
bil:5
bil:12
bil:10
bil:26
Jumlah bilangan : 59

# Exit LOOP

Loop dapat diakhiri secara mendadak, sebelum kondisi batas loop tercapai, dengan statement BREAK

Contoh:


```
For i = 1 to 10 do
  write(i)
  if i > 5 then
    break
  EndIf
EndFor
```

In [ ]:
a = 3
for i in range(5):
  a *= 2  #awalnya: a = a * 2
  if a>60:
    break
  else:
    print(i,a)

print('nilai akhir a:',a)

0 6
1 12
2 24
3 48
nilai akhir a: 96

In [ ]:
for i in range(1,10):
  print(i)
  if i>=6:
    break

1
2
3
4
5
6

In [ ]:
#array string
siswa = ['Jodi','Ahmad','Wiwin','Joko','Kenny']
cari = input('Nama yg dicari:')
for nama in siswa:
  print(nama)
  if nama == cari:
    break

Nama yg dicari:Ahmad
Jodi
Ahmad

In [ ]:
#mengisikan data sebanyak n
#proses pengisian akan berhenti jika pengguna memilih tdk meneruskan

mhs=[]
n = int(input('Banyaknya data: '))
for i in range(n):
  jwb = input('isikan data?(y/n)')
  if jwb == 'n':
   break
  else:
    nama = input('Nama: ')
  mhs.append(nama)
print(mhs)

Banyaknya data: 10
isikan data?(y/n)y
Nama: Anita
isikan data?(y/n)y
Nama: Diana
isikan data?(y/n)y
Nama: Heni
isikan data?(y/n)n
['Anita', 'Diana', 'Heni']

In [ ]:
#mencari nama dgn struktur FOR
siswa = ['Jodi','Ahmad','Wiwin','Joko','Kenny']
cari = input('Nama yang dicari: ')
status= 'Tdk ada'
for nama in siswa:
  if nama == cari:
    status = 'ada'
    break

print(status)

Nama yang dicari: Diana
Tdk ada

In [ ]:
i = 1
while i<10:
  print(i)
  i = i+1
  if i>=6:
    break

1
2
3
4
5

In [ ]:
#mencari nama dgn struktur While
siswa = ['Jodi','Ahmad','Wiwin','Joko','Kenny']
cari = input('Nama yang dicari: ')
status= 'Tdk ada'
i = 0
max = len(siswa)
while (status == 'Tdk ada') and (i<max):
  if nama == cari:
    status = 'ada'
    break
  i = i + 1

print(status)

Nama yang dicari: ab
Tdk ada

In [ ]:
#mencari dan menjumlahkan bilangan genap dan ganjil antara a dan b, sebanyak n bilangan
n = 10
a = 100
b = 150
jml_genap = 0
jml_ganjil = 0
bil_genap = []
bil_ganjil = []

for j in range(a, b):
  if j%2==0:
    jml_genap = jml_genap + j
    bil_genap.append(j)
  else:
    jml_ganjil = jml_ganjil + j
    bil_ganjil.append(j)
  if (len(bil_ganjil)==n) and (len(bil_genap)==n):
    break

print('himpunan',n,'bil genap')
print(bil_genap)
print('Jumlah bilangan genap=',jml_genap)
print('himpunan',n,'bil ganjil')
print(bil_ganjil)
print('Jumlah bilangan ganjil=',jml_ganjil)

himpunan 10 bil genap
[100, 102, 104, 106, 108, 110, 112, 114, 116, 118]
Jumlah bilangan genap= 1090
himpunan 10 bil ganjil
[101, 103, 105, 107, 109, 111, 113, 115, 117, 119]
Jumlah bilangan ganjil= 1100

In [ ]:
#Memeriksa bilangan prima
a = 21
status = 'non prima'
for i in range(2,a+1):
  hasil = a%i
  print(hasil)
  if hasil==0:
    if i==a:
      status='Prima'
    else:
      status='Non prima'
      break

print(status)

1
0
Non prima

In [ ]:
#Menjumlahkan n bilangan prima pertama, dan menampilkan n bilangan prima dalam himpunan
prima=[]  #utk menampung semua bilangan prima yg berhasil ditemukan
n = 10
k = 1
totalprima = 0
jml=0
while k < 100:
  status = 'non prima'
  for i in range(2,k+1):
    hasil = k%i
    if hasil==0:
      if i==k:
        status='Prima'
        totalprima = totalprima + k
        prima.append(k)
        jml = jml+1
      else:
        status='non prima'
        break
  if jml>=n:  #membatasi jumlah hingga n bilangan saja
          break
  k = k + 1

print('Himpunan',n, 'bilangan prima pertama')
print(prima)
print('Total',n,'bilangan prima pertama:', totalprima)

Himpunan 10 bilangan prima pertama
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
Total 10 bilangan prima pertama: 129

##WHILE-TRUE

While-true adalah bentuk while yang akan mengevaluasi kondisi di dalam loop. Loop akan berhenti jika variabel kendali pada loop memenuhi syarat tertentu

In [ ]:
#menjumlah 10 bilangan pertama
N = 10
Sum = 0

while True:
    Sum += N
    N -= 1
    if N == 0:
        break

print(f"Jumlah 10 bilangan pertama {Sum}")

Jumlah 10 bilangan pertama 55

In [ ]:
#menerima sejumlah nilai dari keyboard, dan akan berhenti berdasarkan pilihan pengguna
#menghitung berapa rata-rata nilai yang dientrikan melalui keyboard
n = 0
sum = 0
bil = []
while True:
  a = int(input('bil='))
  sum = sum + a
  n = n + 1
  bil.append(a)
  cek = input('lanjut? (y/n) ')
  if cek == 'n':
    break
print('Bilangan yang dientrikan')
print(bil)
print("Rata-rata bilangan yang dientrikan:",sum/n)

bil=40
lanjut? (y/n) y
bil=45
lanjut? (y/n) y
bil=70
lanjut? (y/n) n
Bilangan yang dientrikan
[40, 45, 70]
Rata-rata bilangan yang dientrikan: 51.666666666666664

In [ ]:
import random
for i in range(1,5):
  r1 = random.randint(10,30)
  print(r1)

16
22
11
14

In [ ]:

import random

#menghasilkan n bilangan dan char secara random, tidak ada nilai yang berulang
str = 'abcdefghijklmnopqrstuvwxyz'
bil = []
nama=[]
n = 10
while (len(bil)<=n):
  r1 = random.randint(60,90)
  r2 = random.choice(str)
    #mencegah jgn sampai ada bilangan yang sama dicatat
  cek1 = 0
  cek2 = 0
  for j in (bil):
    if r1==j: cek1 = 1
  if cek1 == 0:
    bil.append(r1)
  for j in (nama):
    if r2==j:cek2 = 1
  if cek2 ==0:
    nama.append(r2)
    if len(nama)==n:break

for i in range(len(nama)):
  print(nama[i], bil[i])

print(len(bil), len(nama))

#find_max_min
max = 0
min = 100
idx = 1
max_idx=0
for i in (bil):
  if i >= max:
    max = i
    max_idx = idx
  if i <= min:
    min = i
    min_idx = idx
  idx = idx + 1

if max_idx==1:max_idx = 1
if min_idx==1:min_idx = 1
print('Menampilkan data dengan nilai maksimum:')
print(max_idx,nama[max_idx-1],max)
print('Menampilkan data dengan nilai minimum:')
print(min_idx,nama[min_idx-1],min)

a 61
y 68
w 73
x 62
m 66
b 89
r 87
k 74
e 82
i 75
11 10
Menampilkan data dengan nilai maksimum:
6 b 89
Menampilkan data dengan nilai minimum:
1 a 61

#Tugas

##1.Membuat tampilan karakter bintang
Buatlah program untuk menampilkan karakter bintang dengan format sebagai berikut:



```
*
**
***
****
*****
```

## 2.Membuat tampilan karakter bintang simetris

Buatlah program untuk menampilkan karakter bintang dalam bentuk simetris sebagai berikut:


```
*
**
***
****
*****
****
***
**
*
```

##3.Mengolah entri data dan menyimpan pada array

Buatlah program untuk menerima data dan menyimpan pada array, yaitu data:
nama - nilai
Entri data akan berhenti jika pengguna menekan kunci tertentu.
Berdasarkan data yang dientrikan, lakukan perhitungan:
a. rata-rata nilai yang dientrikan
b. berapa nilai maksimum dan siapa yang mendapatkannya
c. berapa nilai minimum dan siapa yang mendapatkannya

contoh masukan:

```
Entry Data:
-------------
Data ke-1:
Nama:
Nilai:
Lanjut? (y/n) y
Data ke-2:
Nama:
Nilai:
Lanjut? (y/n) y

....
```
Contoh keluaran:



```
Total data yang dientrikan: n
Rata-rata nilai: 12345.678
Nilai maksimum diperoleh: nama -  nilai
Nilai minimum diperoleh: nama - nilai
```

##4.Membuat Histogram

Pelajari tutorial tentang membuat histogram dengan menggabungkan dua tutorial berikut,
dan melengkapinya dengan garis dan informasi lainnya:<br>
a. [simple-histogram](https://www.w3schools.com/python/matplotlib_histograms.asp) <br>
b. [beauty-histogram](https://builtin.com/articles/beautify-matplotlib-histogram) <br>
Dikarenakan pada dua contoh tersebut, menggunakan data yang sudah disediakan sebelumnya, maka untuk tugas ini anda diminta membuat data sendiri dengan cara:<br>
1. Buatlah array data nilai secara random sebanyak 50 item, isi nilai boleh berulang
2. Berdasarkan data nilai tersebut, buatlah histogram dasar seperti pada tutorial (a). Setelah jadi, percantik histogram anda seperti pada tutorial (b)